body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form-container {
  width: auto;
  margin: 0 auto;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}
.definition-container {
  width: 25%;
  margin: 0;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.process-list-container {
  width: 75%;
  margin: 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.process-container {
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: left;
}
.process {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #f9f9f9d8;
}

.process-input {
  width: auto;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #fff;
}
.process-input input:disabled {
  background-color: #f9f9f9d8;
  color: #fff;

}
.process-input-container {
  display: flex;
  flex-direction: column;
}
.task-list-container {
  width: 100%;
  background-color: #f9f9f9d8;
  overflow-x: auto;
  display: flex;
  align-content: space-around;
}
.task-acc {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  cursor: pointer;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  color: #ffffff;
  background-color: #6b6b6b;
}
.task-acc:hover {
  color: #000;
  background-color: #454f986c;
}
.task-list {
  display: flex;
  justify-content: start;
  background-color: #a3a3a3;
  border-radius: 10px;
}
.add-task {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 10px 0;
  background-color: #f1f1f1;
}
.add-task:hover {
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.task-list-name {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.accordion {
  width: 100%;
  align-items: stretch;
  border-radius: 10px;
}
.scrollable {
  overflow-y: scroll;
  max-height: 500px;
  min-height: 500px;
}
.task-container {
  width: 100%;
  background-color: #f9f9f9d8;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  align-items: stretch;
}
.input-label {
  display: flex;
  flex-direction: column;
}
.input-label label{
  padding-left: 10px;
  font-size: small;
  font-style: italic;
}

.variables {
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  border-top: 1px solid #000;
}
.variables h4 {
  width: 15%;
  text-align: center;
}
.variables-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 85%;
}
.form-input {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ffffff;
  color: #000;
}

.select-input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.task-button {
  background-color: #4ba037;
  color: #fff;
  font-size: 24;
  cursor: pointer;
}
.task-button:hover {
  background-color: #4aa0374f;
  color: #000;
}
.form-button-cancel {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #c93d3d;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.form-button-cancel:hover {
  background-color: #c93d3d58;
  color: #000;
}
.process-acc {
  font-size: 24px;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 60px
}

.form-checkbox {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  cursor: pointer;
  height: 100%;
  width: 95%;
}
.form-checkbox:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.form-checkbox div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-checkbox-default {
  display: flex;
  align-items: center;
  padding: 21px;
  font-size: 14px;
}
.form-checkbox-default:hover {
  padding: 21px;
  cursor: pointer;
}
.form-checkbox-default label {
  color: #000;
  cursor: pointer;
  font-size: 20px;
}
.view {
  padding: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.view:hover {
  cursor: pointer;
}

.view-task {
  width: 100%;
  display: flex;
  align-items: stretch;
  padding: 10px;
}

.expander {
  cursor: pointer;
  width: 5%;
  display: flex;
  justify-content: center;
}
.delete {
  padding: 10px;
  display: flex;
  align-items: center;
}
.delete:hover {
  background-color: rgba(255, 0, 0, 0.412);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.task-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #dfdfdf;
}
.task-name-label {
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.task-name-label:hover {
  background-color: #979797;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.task-name-label-pushed {
  background-color: #ffffffa6;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.task-name-label-pushed:hover {
  cursor: pointer;
  background-color: #979797;
}
.expander-open {
  cursor: pointer;
  width: 5%;
  display: flex;
  justify-content: center;
}
.expander:hover {
  cursor: pointer;
}
.expander-open:hover {
  cursor: pointer;
}
.form-checkbox input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.form-checkbox label {
  font-size: 24px;
  color: #333; /* Adjust text color */
  cursor: pointer;
}
.task-input {
  width: 98%;
  font-size: 16px;
  background-color: #ffffff;
  color: #000;
  border: 0;
  margin: 5px;
  padding: 5px;
  margin-bottom: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}